
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&display=swap');

.demo-section {
  background-image: url("https://html.xpressbuddy.com/aivora/demo/assets/img/bg/demo_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  padding: 80px 20px; 
  width: 100%;
  height: auto;   
}
.demo-inner{
    box-sizing: border-box;

}

/* Main Title */
.demo-sec-title .title {
  max-width: 1000px;    
  margin: 0 auto;
  font-family:"Segoe UI", Roboto,  sa-serif;
  word-spacing: 6px;
  letter-spacing: 1.5px;
  font-size: 48px;
  font-weight: 600;
  color: #fff;
  line-height: 1;
}

/* Icon align */
.demo-sec-title .title span {
  display: inline-flex;
  align-items: center;
  justify-content: center;

}

.demo-sec-title .title img {
  width: 100;
  height: 90px;
  transform: translateY(10px)
}


/* card */


.card-bg {
  background: linear-gradient(135deg, rgba(255,255,255,0.4), rgba(255,255,255,0.15));
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  padding: 25px;
  margin-top: 40px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.25);
  height: 650px;
  text-align: center; 
  text-decoration: none; 
  font-style: oblique;
 
}
.card-bg:hover {
  background: linear-gradient(135deg, #00ff9d, #0affb8);
}

.card-bg:hover * {
  color: black;
}




.card-link {
  display: block;
  text-decoration: none ;
  color: white ;
}



.view-bubble {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
   background: radial-gradient(
    circle,
    #ffffff 0%,    
    #00c8ff 55%,    
    rgba(0, 140, 255, 0.85) 
  );
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  color: #fff;     
   pointer-events: none;
   transform: translate(-50%, -50%) scale(0);
  transition: transform 0.25s ease;
}




.card-img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}


/* fadeInUp Keyframes */
/* @keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fade-in-up {
  opacity: 0;
  animation: fadeInUp 0.6s ease forwards;
  animation-delay: 0ms;
} */




/* cta */

.cta-section{
  background-image: url(https://html.xpressbuddy.com/aivora/demo/assets/img/bg/cta_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  padding: 120px 0; 
  min-height: 100vh; 
  height: 100%;
}

.cta-heading{
  color: white;
  font-size: 60px;
  font-family: "DM Sans", sans-serif;
  
}

.purches-btn {
  background: white;
  margin-top: 40px;
  padding: 20px 30px;       
  border-radius: 50px;
  font-size: 25px;          
  font-weight: 600;
  display: inline-flex;     
  align-items: center;
  gap: 20px;               
  text-decoration: none;
  color: #000;
  width:auto;              
  max-width: 300px;
}

/* cta end */



