.support-bg{
  background: url(https://html.xpressbuddy.com/aivora/demo/assets/img/bg/cta_bg02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  padding: 100px 100px; 
  width: 100%;
  height: auto;
}

.title{
    font-size: 50px;
    letter-spacing: 0.09rem;
    color: white;
    font-style: monospace;
    margin-top: 40px;
}
.sub-title{
    font-size: 15px;
    line-height: 4;
}

.support-list {
  list-style: none;
  padding-left: 0;
  
}

.support-list li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  color: white;
}


.footer-bg{
  background-image: url(https://html.xpressbuddy.com/aivora/demo/assets/img/bg/footer_bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  padding: 100px 100px; 
  width: 100%;
  height: auto;
}


.footer-title{
    font-size: 70px;
    letter-spacing: 0.09rem;
    color: white;
    font-style: monospace;
    margin-top: 40px;
    text-align: center;
}
